<phpunit backupGlobals="true" bootstrap="vendor/autoload.php">
  <!-- Add a filter to make sure we don't count venders and Tests in the coverage report -->
  <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
            <exclude>
                <directory>./tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
    <testsuite>
        <directory>./tests/</directory>
    </testsuite>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>
</phpunit>
