<phpunit backupGlobals="true" bootstrap="vendor/autoload.php">
  <!-- Add a filter to make sure we don't count venders and Tests in the coverage report -->
  <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
            <exclude>
                <directory>./vendor</directory>
                <directory>./tests</directory>
            </exclude>
        </whitelist>
    </filter>
    <testsuite>
        <directory>./</directory>
    </testsuite>
</phpunit>
